
.btn {
    &-sm{
        background-color: $white;
        color:#858585;
        font-size:14px;
        cursor: pointer;
        padding-left:0.5rem;
        padding-right:0.5rem;
        height:28px;
        padding-top:0px;
        border:1px solid #858585;
        border-radius: 5px;
        &:hover{
            background-color: $primary-color;
            border:1px solid $primary-color;
            color:$white;
        }
        & .active{
            background-color: $primary-color;
            border:1px solid $primary-color;
            color:$white;
        }
        &-green{
            background-color: $white;
            font-size:14px;
            color: $green;
            cursor: pointer;
            padding-left:0.5rem;
            padding-right:0.5rem;
            height:28px;
            // padding-top:0px;
            border:1px solid $green;
            border-radius: 5px;
            &:hover{
                background-color: $green;
                color: $white;
                border:1px solid $green;

            }
        }
        &-disable{
            // background-color: #d0d0d0 !important;
            //    width:100%;
            //    height:38px;
            //    color:#fff;
            //    padding:2%;
            //    padding-top: 0.99% !important;
            //    font-size:12px;
            //    text-align: center;
            //    cursor: no-drop !important;
            //    border: 0px solid #fff;
            //    border-radius: 5px;
            //    outline: none !important;


            background-color: #d0d0d0;
            font-size:14px;
            color: $white;
            cursor: no-drop !important;
            padding-left:0.5rem;
            padding-right:0.5rem;
            height:28px;
            // padding-top:0px;
            // border:1px solid $green;
            border: 0px solid #fff;
            border-radius: 5px;
            outline: none !important;
            border-radius: 5px;
        }
    }
    &-login_v1{
        width:100%;
        height:42px;
        color:#fff;
        font-size:16px;
        text-align: center;
        cursor: pointer;
        background-color: $primary-color !important;
        border: 0px solid #fff;
        border-radius: 5px;
        outline: none !important;
    } 
    &-forget{
        width:100%;
        // height:42px;
        color:$secondary-color;
        font-weight: 400;
        font-size:14px;
        // text-align: center;
        cursor: pointer;
        background-color: transparent !important;
        border:0px solid #d5d5d5 !important;
        // border-radius: 5px;
        outline: none !important;
        &:hover{
            // background-color: $secondary-color !important;

            background-color: transparent !important;
            color: $primary-color !important;
            transition: all 1s ease !important;
            // border: 1px solid $secondary-color !important;
        }
    }
    &-register{
        width:100%;
        height:42px;
        color:$secondary-color;
        font-weight: 400;
        font-size:16px;
        text-align: center;
        cursor: pointer;
        background-color: $white;
        border:1px solid #d5d5d5 !important;
        border-radius: 5px;
        outline: none !important;
        &:hover{
            background-color: $secondary-color !important;
            color: $white !important;
            transition: all 1s ease !important;
            border: 1px solid $secondary-color !important;
        }
    }
    &-forgot{
        width:100%;
        height:42px;
        color:$secondary-color;
        font-size:16px;
        text-align: center;
        cursor: pointer;
        background-color: $grey-ultralight !important;
        border: 0px solid #fff;
        border-radius: 5px;
        outline: none !important;
    }
    &-register{
        width:100%;
        height:42px;
        color:$secondary-color;
        font-size:16px;
        text-align: center;
        cursor: pointer;
        background-color: transparent !important;
        border: 1px solid $secondary-color;
        border-radius: 5px;
        outline: none !important;
    }
    &-login{
        width:100%;
        height:36px;
        color:#fff;
        font-size:16px;
        text-align: center;
        cursor: pointer;
        background-color: $primary-color!important;
        border: 0px solid #fff;
        border-radius: 5px;
        outline: none !important;
    }
    &-nobdr{
        background-color: transparent;
        border:0px solid #fff;
        cursor: pointer;
        font-size:12px;
        font-weight:bold;
        color:$secondary-color;
    }
    &-nobg{
        background-color: transparent;
        border: 0px solid $white;
        outline: none;
        cursor: pointer;
        position: absolute;
        left: 30%;
        top: 14.2%;
   }
   &-transparent{
    background-color: transparent;
    border: 0px solid $white;
    outline: none;
    cursor: pointer;
}
   &-add{
    background-color:$primary-color;
    color:$white;
    cursor: pointer;
    border: 0px solid $white;
    border-radius: 5px;
    outline: none !important;
    padding:2%;
    text-align: center;
    font-size:12px;
    height:38px;
    width:70%;
   }
   &-save{
       background-color:#00D532;
       color:$white;
       cursor: pointer;
       border: 0px solid $white;
       border-radius: 5px;
       outline: none !important;
       padding:2%;
       text-align: center;
       font-size:12px;
       height:38px;
       &-ctl{
        position: relative;
        top: 8px;
        background-color:#00D532;
        color:$white;
        cursor: pointer;
        border: 0px solid $white;
        border-radius: 5px;
        outline: none !important;
        padding:2%;
        text-align: center;
        font-size:12px;
        height:38px;
       }
   }
   &-bdr{
        background-color: transparent;
        border:1px solid $primary-color;
        color:$primary-color;
        // font-weight:700;
        cursor: pointer;
        border-radius: 5px;
        outline: none !important;
        padding:2%;
        text-align: center;
        font-size:12px;
        height:38px;
        cursor: pointer;
        padding-top:1px;
        min-width:53px;
        & p{
            color:#48596B;
            font-size: 10px;
        }
        &:hover{
            background-color: $primary-color!important;
            color: $white !important;
         & p{
             color: $white;
         }
        }
        &.active{
            background-color: $primary-color!important;
            color: $white !important;
         & p{
             color: $white;
         }
        }
        &-disable{
            background-color: transparent !important;
            border:1px solid #d0d0d0 !important;
            // background-color: #d0d0d0 !important;
            // width:100%;
            height:38px;
            color:#d0d0d0 !important;
            font-size:12px;
            text-align: center;
            // padding:2%;
            cursor: no-drop !important;
            border: 0px solid #d0d0d0;
            border-radius: 5px;
            outline: none !important;
            & p{
                color:#d0d0d0;
                font-size: 10px;
            }
            &:hover{
                background-color: transparent !important;   
                color:#d0d0d0 !important;
                & p{
                    color:#d0d0d0;
                    font-size: 10px;
                }
            }
        }
   }
   &-bdrG{
    background-color: transparent;
    border:1px solid $green !important;
    color:$green;
    // font-weight:700;
    cursor: pointer;
    border-radius: 5px;
    outline: none !important;
    padding:2%;
    text-align: center;
    font-size:12px;
    height:38px;
    cursor: pointer;
    // padding-top:1px;
    min-width:53px;
    & p{
        color:#48596B;
        font-size: 10px;
    }
    &:hover{
        background-color: $green !important;
        color: $white !important;
     & p{
         color: $white;
     }
    }
    &.active{
        background-color:$green !important;
        color: $white !important;
     & p{
         color: $white;
     }
    }
    &-disable{
        background-color: transparent !important;
        border:1px solid #d0d0d0 !important;
        // background-color: #d0d0d0 !important;
        // width:100%;
        height:38px;
        color:#d0d0d0 !important;
        font-size:12px;
        text-align: center;
        // padding:2%;
        cursor: no-drop !important;
        border: 0px solid #d0d0d0;
        border-radius: 5px;
        outline: none !important;
        & p{
            color:#d0d0d0;
            font-size: 10px;
        }
        &:hover{
            background-color: transparent !important;   
            color:#d0d0d0 !important;
            & p{
                color:#d0d0d0;
                font-size: 10px;
            }
        }
    }
}
&-secondary{
    background-color: #797884;
    color: $white;
    height:38px;
    border-radius: 5px;
    outline: none !important;
    font-size:12px;
    padding:2%;
    cursor: pointer;
    text-align: center;
    border: 1px solid #797884;
    min-width:53px;
    &:hover{
        background-color: $secondary-color;
        color: $white;
    }
}
&-selection{
    background-color: #FEE4E7;
    color: #614D4F;
    padding:2%;
    text-align: center;
    font-size:14px;
    padding-top:7px;
    height:38px;
    // font-weight:700;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #F4D0D7;
    vertical-align: middle !important;
    position: relative;
    // top:9px;
    &.active{
        background-color: #ED1C24 !important;
        color:$white !important;
    }
}
   &-bill{
       background-color: #FFECEF;
       color: #FF0000;
       padding:2%;
       text-align: center;
       font-size:12px;
       height:38px;
       font-weight:700;
       cursor: pointer;
       border-radius: 5px;
       border: 1px solid #FF0000;
       position: relative;
       top:9px;
   }
   &-disable{
       background-color: #d0d0d0 !important;
    //    width:100%;
       height:38px;
       color:#fff;
       padding:2%;
       padding-top: 0.99% !important;
       font-size:12px;
       text-align: center;
       cursor: no-drop !important;
       border: 0px solid #fff;
       border-radius: 5px;
       outline: none !important;
       &:hover{
        background-color: #d0d0d0 !important;   
       }
   }
   &-grey{
    background-color: transparent;
    border:1px solid #797884;
    color:#797884;
    // font-weight:700;
    cursor: pointer;
    border-radius: 5px;
    outline: none !important;
    padding:2%;
    text-align: center;
    font-size:12px;
    height:38px;
    padding-top:1px;
    min-width:53px;
    cursor: pointer;
    & p{
        color:#fff;
        font-size: 10px;
    }
    &:hover{
        background-color: #797884 !important;
        color: $white !important;
     & p{
         color: $white;
     }
    }
    &.active{
        background-color: #797884 !important;
        color: $white !important;
     & p{
         color: $white;
     }
   }
   }
   &-dark_blue{
    background-color: transparent;
    border:1px solid #0067AE;
    color:#fff;
    // font-weight:700;
    cursor: pointer;
    border-radius: 5px;
    outline: none !important;
    padding:2%;
    text-align: center;
    font-size:12px;
    height:38px;
    padding-top:1px;
    min-width:53px;
    cursor: pointer;
    & p{
        color:#fff;
        font-size: 10px;
    }
    &:hover{
        background-color: #0067AE !important;
        color: $white !important;
     & p{
         color: $white;
     }
    }
    &.active{
        background-color: #0067AE !important;
        color: $white !important;
     & p{
         color: $white;
     }
   }
   }
   &-lock_trans{
    background-color: transparent;
    border:1px solid #13486D;
    color:#fff;
    // font-weight:700;
    cursor: pointer;
    border-radius: 5px;
    outline: none !important;
    padding:2%;
    text-align: center;
    font-size:12px;
    height:38px;
    padding-top:1px;
    min-width:53px;
    cursor: pointer;
    & p{
        color:#fff;
        font-size: 10px;
    }
    &:hover{
        background-color: #13486D !important;
        color: $white !important;
     & p{
         color: $white;
     }
    }
    &.active{
        background-color: #13486D !important;
        color: $white !important;
     & p{
         color: $white;
     }
   }
   }

   &-close_tally{

    background-color: transparent;
    border:1px solid #B8E2FF;
    color:#fff;
    // font-weight:700;
    cursor: pointer;
    border-radius: 5px;
    outline: none !important;
    padding:2%;
    text-align: center;
    font-size:12px;
    height:38px;
    padding-top:1px;
    min-width:53px;
    cursor: pointer;
    & p{
        color:#fff;
        font-size: 10px;
    }
    &:hover{
        background-color: #B8E2FF !important;
        color: $primary-color!important;
     & p{
         color: $primary-color;
     }
    }
    &.active{
        background-color: #B8E2FF !important;
        color: $primary-color!important;
     & p{
         color: $primary-color;
     }
   }
   }
.scan{
    
    background-color: transparent;
    border:1px solid #48596B;
    color:#fff;
    // font-weight:700;
    cursor: pointer;
    border-radius: 5px;
    outline: none !important;
    padding:2%;
    text-align: center;
    font-size:12px;
    height:38px;
    padding-top:1px;
    min-width:53px;
    cursor: pointer;
    & p{
        color:#fff;
        font-size: 10px;
    }
    &:hover{
        background-color: #48596B !important;
        color: #fff !important;
     & p{
         color: #fff;
     }
    }
    &.active{
        background-color: #48596B !important;
        color: #fff !important;
     & p{
         color: #fff;
     }
   }
    
}
&-active{
    background-color: #C1FCB0;
    color:#4A5A51;
    font-size:14px;
    cursor: pointer;
    padding-left:1rem;
    padding-right:1rem;
    height:30px;
    border:0px solid #858585;
    border-radius: 5px;
}
&-inactive{
    background-color: #FCB0BA;
    color:#4A5A51;
    font-size:14px;
    cursor: pointer;
    height:30px;
    padding-left:1rem;
    padding-right:1rem;
    border:0px solid #858585;
    border-radius: 5px;
}
&-unic{
    background-color: $white;
    color:#858585;
    font-size:12px;
    cursor: pointer;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    padding-top: 0;
    height:36px;
    border:1px solid #858585;
    border-radius: 5px;
    &:hover{
        background-color: $primary-color;
        border:1px solid $primary-color;
        color:$white;
    }
    & .active{
        background-color: $primary-color;
        border:1px solid $primary-color;
        color:$white;
    }
    &-redbdr{
        background-color: $white;
        color:$primary-color;
        font-size:14px;
        cursor: pointer;
        padding-right: 1.1rem;
        padding-left: 1.1rem;
        padding-top: 0;
        height:36px;
        border:1px solid $primary-color;
        border-radius: 5px;
        &:hover{
            background-color: $primary-color;
            border:1px solid $primary-color;
            color:$white;
        }
        & .active{
            background-color: $primary-color;
            border:1px solid $primary-color;
            color:$white;
        }
    }
    &-search{
        background-color: $white;
        color:#858585;
        font-size:14px;
        cursor: pointer;
        padding-left:0.5rem;
        padding-right:0.5rem;
        height:36px;
        padding-top:0px;
        border:1px solid #858585;
        border-radius: 5px;
        &:hover{
            background-color: $primary-color;
            border:1px solid $primary-color;
            color:$white;
        }
        & .active{
            background-color: $primary-color;
            border:1px solid $primary-color;
            color:$white;
        }
    }
}
&-nav{
    background-color: transparent;
    color:#858585;
    font-size:14px;
    cursor: pointer;
    padding-right: 1.1rem;
    padding-left: 1.1rem;
    padding-top: 0;
    padding-bottom: 7px;
    height: 44px;
    border:0px solid #858585;
    border-radius: 0px;
    &:hover{
        background-color: transparent !important;
        border: 0px solid #000;
        border-bottom:2px solid $primary-color !important;
        color:$primary-color !important;
    }
    & .active{
        background-color: transparent !important;
        border: 0px solid #000 !important;
        border-bottom:2px solid $primary-color !important;
        color:$primary-color !important;
    }
    &-redbdr{
        background-color: $white;
        color:$primary-color;
        font-size:14px;
        cursor: pointer;
        padding-right: 1.4rem;
        padding-left: 1.4rem;
        padding-top: 0;
        height:36px;
        border:1px solid $primary-color;
        border-radius: 5px;
        &:hover{
            background-color: $primary-color;
            border:1px solid $primary-color;
            color:$white;
        }
        & .active{
            background-color: $primary-color;
            border:1px solid $primary-color;
            color:$white;
        }
    }
    &-search{
        background-color: $white;
        color:#858585;
        font-size:14px;
        cursor: pointer;
        padding-left:1.4rem;
        padding-right:1.4rem;
        height:36px;
        padding-top:0px;
        border:1px solid #858585;
        border-radius: 5px;
        &:hover{
            background-color: $primary-color;
            border:1px solid $primary-color;
            color:$white;
        }
        & .active{
            background-color: $primary-color;
            border:1px solid $primary-color;
            color:$white;
        }
    }
}
&-clear{
    border: 1px solid $secondary-color;
    cursor: pointer;
    background-color: #ffffff;
    color: $secondary-color;
    font-size: 14px;
    cursor: pointer;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 36px;
    padding-top: 0px;
    border-radius: 5px;
    &:hover{
        background-color: $secondary-color;
        color: $white;
    }
}

}


.custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
    padding-top: 3px;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    background-image:none !important;
}
.form-group{
    & .scan{
        position: relative;
        top: -36px;
        left: 77%;
        background-color: #353C40;
        color: #ffffff;
        border: 0px solid #ffffff;
        cursor: pointer;
        outline: none !important;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        width: 70px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 7px;
        padding-bottom: 9px;
        font-size: 14px;
        & img{
            width:17px;
        }
    }
    & .scan_p{
        position: relative;
        top: -36px;
        left: 73% !important;
        background-color: #353C40;
        color: #ffffff;
        border: 0px solid #ffffff;
        cursor: pointer;
        outline: none !important;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        width: 70px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 7px;
        padding-bottom: 9px;
        font-size: 14px;
    }
}
.frm{
    &-pr{
        padding-right:90px !important;
    }
}

@media only screen and (min-width:1610px) and (max-width:1920px) {
    .form-group .scan {
        position: relative;
        top: -36px;
        left: 78%;
        background-color: #353C40;
        color: #ffffff;
        border: 0px solid #ffffff;
        cursor: pointer;
        outline: none !important;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        width: 90px;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 7px;
        padding-bottom: 9px;
        font-size: 14px;
    }

}
@media only screen and (min-width:1440px) and (max-width:1600px) {
    .form-group .scan {
        position: relative;
        top: -36px;
        left: 73%;
        background-color: #353C40;
        color: #ffffff;
        border: 0px solid #ffffff;
        cursor: pointer;
        outline: none !important;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        width: 90px;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 7px;
        padding-bottom: 9px;
        font-size: 14px;
    }

}
@media only screen and (min-width:320px) and (max-width:700px) {
.btn-unic {
    background-color: #ffffff;
    color: #858585;
    font-size: 14px;
    min-width: 150px;
    cursor: pointer;
    padding-right: 1.4rem;
    padding-left: 1.4rem;
    padding-top: 0;
    height: 36px;
    border: 1px solid #858585;
    border-radius: 5px;
}
.form-group .scan {
    position: relative;
    top: -36px;
    left: 73%;
    background-color: #353C40;
    color: #ffffff;
    border: 0px solid #ffffff;
    cursor: pointer;
    outline: none !important;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 90px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 7px;
    padding-bottom: 9px;
    font-size: 14px;
}
}

.drop{
    &-tog{
        color: #ed1c24 !important;
        background-color: transparent !important;
        border: 0px solid #fff !important;
        font-size: 16px !important;
        // border-bottom: 1px solid #ed1c24 !important;
        // padding-bottom: 20px;
        border-radius: 0px !important;
        cursor: pointer;
        font-weight: 600 !important;
        outline: none !important;
        &:hover{
            color: #ed1c24;
            background-color: transparent;
            border-bottom: 1px solid #ed1c24;
        }
    }
}
.btn-check:focus+.btn-success, .btn-success:focus {
    // color: #fff;
    // background-color:;
    // border-color: #146c43;
    box-shadow: none !important;
}
.dropdown{
    &-menu{
        -webkit-box-shadow: 1px 1px 7px rgba(0,0,0,0.09);/*For webkit browsers*/
        -moz-box-shadow: 1px 1px 7px rgba(0,0,0,0.09);/*For Firefox*/
        box-shadow: 1px 1px 7px rgba(0,0,0,0.09);
        border: 1px solid #DBDCE0 !important;
        color: #343C3F !important;
        font-weight: 600 !important;
        padding: 10px !important; 
        width: 220px;
    }
    &-item{
        color: #343C3F !important;
        font-weight: 600 !important;
        font-size: 14px !important;
        padding: 8px !important;
        & img{
            padding-right:10px;
        }
        &:hover{
            color: #ed1c24 !important;
            background-color: transparent !important;
        }
    }
}
