body{
    overflow: hidden;
   
}
.mainbody{
    width:100%;
    height:80vh;
    // float: right;
    // display: table;
    position: relative;
    background-color: $white;
    z-index:1;
    // overflow-y: auto;
    margin-top:8%;
}
.maincontent{
    // padding-top: 2%;
    padding-top: 0.5%;
    padding-left: 3%;
    padding-right: 3%;
    margin-bottom:6%;
    max-height: 77vh;
    overflow-y: auto;

    & h5{
        font-size:22px;
        font-weight: bold;
        color:#48596B;
    }
    & .rect{
        background-color: $white;
        border-radius: 6px;
        box-shadow: 0px 0px 7px #0196FD0F;
        min-height:85px;
        padding:2%;
        width:100%;

        &-head{
            border-bottom:1px solid #eaeaea;
            & ul{
                display: block;
                text-decoration: none;
                list-style-type: none;
                padding: 0;
                margin:0;
                & li{
                    text-decoration: none;
                    list-style-type: none;
                    font-size: 14px;
                    padding:2%;
                    display: inline-block;
                    color:#1E1E1E;
                    & span{
                        position: absolute;
                        top:0;
                    }
                }
                & li:last-child{
                    float: right;
                }
            }
        }
        &-card{
            background-color: $white;
            box-shadow: 0px 0px 6px #0196FD0F;
            border-radius: 6px;
            padding:2%;
            // margin-left:2%;
            // margin-right:2%;
            cursor: pointer;
            & h6{
                font-size: 13px;
                color: #48596B;
                font-weight:bold;
            }
            & label{
                font-size:12px;
                color: #797884;
            }
        }
        &-red{
            background-color:#FFF3F3;
            border-radius: 2px;
            padding-bottom: 2px;
            // padding:1%;
            cursor: pointer;
            & h6{
                font-size: 12px;
                color: #353C40;
                font-weight:bold;
            }
            & label{
                font-size:12px;
                color: #858585;
            }
            & .text{
                &-red{
                    color: $primary-color !important;
                }
            }
        }
        &-cardred{
            background-color:#FFF3F3;
            // box-shadow: 0px 0px 6px #0196FD0F;
            // border:1px solid #FDB0B2;
            border-radius: 2px;
            padding:1%;
            // margin: 2%;
            cursor: pointer;
            & h6{
                font-size: 13px;
                color: #353C40;
                font-weight:bold;
            }
            & label{
                font-size:12px;
                color: #858585;
            }
            & .text{
                &-red{
                    color: $primary-color !important;
                }
            }
        }
        &-grey{
            background-color:#FAFBFC;
            border:1px solid #DCE3F2;
            border-radius: 5px;
            height: 80vh;
            overflow-y: auto;
            width:100%;
            padding-left: 5% !important;
            padding-right: 5% !important;
            padding-top: 5% !important;
            & label{
                color:#353C40;
                font-size: 14px;
                width:100%;
                display: block;
                float:left;
                // height:40px;
            }

            & .payment{
                & label{
                    color:#ED1C24;
                    font-size: 14px;
                    width:100%;
                    display: block;
                    float:left;
                    // height:60px;
                    border-bottom: 1px solid #DEDFE0;
                    border-top: 1px solid #DEDFE0;
                    padding-top: 8% !important;
                    margin-bottom:0%;
                }
            }
            & span{
                color:#353C40;
                font-size: 12px;
                width:40%;
                height:40px;
                float:right;
            }
            & h5{
                color:#353C40;
                font-weight:700;
                font-size:14px;
            }
            & h6{
                color:#353C40;
                font-size: 12px;
                width:100%;
                font-weight: 400;
                margin-bottom: 1px;
                // float:left;
                // height:40px;
            }
            & p{
                color:#48596B;
                font-size: 12px;
                width:100%;
                margin-bottom: 8px;
                // float:left;
                // height:40px;
            }
            & .apply_btn{
                & button{
                    display: flex;
                    border: 0px solid #ffffff;
                    cursor: pointer;
                    color: #ED1C24;
                    // width: 20%;
                    // height: 50px;
                    position: relative;
                    top: 30px;
                    left: 304px;
                    background-color: transparent;
                    border: 0px solid #ffffff;

                }
            }
            & .list{
                & ul{
                    text-decoration: none;
                    display: block;
                    margin:0;
                    padding:0;
                    & li{
                        display: inline-block;
                        width: 20%;
                        margin: 0px;
                        padding: 0px;
                        text-align:center ;
                        
                      & span{
                        width:50px;
                        margin:15px;
                        margin-bottom: 0px;
                        height:50px;
                        padding:16%;
                        border-radius: 50px;
                        border:1px solid #DCE3F2;
                        background-color: $white;
                        text-align: center;
                        cursor: pointer;
                        & label{
                            font-size: 12px;
                            height:15px;
                            color: #353C40;
                            position: relative;
                            top: 20px;
                            left: -2px;
                        }
                        &:hover{
                            border:1px solid $primary-color !important;
                            // height:50px;
                            // border-radius: 50px;
                            // width:50px;
                            color: $primary-color !important;
                            & label{
                                font-size: 12px;
                                height:15px;
                                color: $primary-color !important;
                                // color: #353C40;
                            }
                        }
                      }
                    &.disable{
                        & span{
                            width:50px;
                            margin:15px;
                            margin-bottom: 0px;
                            height:50px;
                            padding:16%;
                            border-radius: 50px;
                            border:1px solid #d8d8d8;
                            background-color: #d8d8d8;
                            text-align: center;
                            cursor: default !important;
                            curs
                            & label{
                                font-size: 12px;
                                height:15px;
                                color: #d8d8d8;
                                position: relative;
                                top: 20px;
                                left: -2px;
                            }
                            &:hover{
                                border:1px solid #d8d8d8 !important;
                                // height:50px;
                                // border-radius: 50px;
                                // width:50px;
                                color: #d8d8d8 !important;
                                & label{
                                    font-size: 12px;
                                    height:15px;
                                    color: #d8d8d8 !important;
                                    // color: #353C40;
                                }
                            }
                          }
                    }
                    
                   
                    }
                }
            }
        }
        &-lightgrey{
            background-color:#FDFEFF;
            border:1px solid #F8F8F8;
            border-radius: 6px;
            height:201px;
            width:100%;
            padding-left: 5% !important;
            padding-right: 5% !important;
            padding-top: 2% !important;
            & label{
                color:#48596B;
                font-size: 12px;
                width:60%;
                padding-bottom:3%;
                float:left;
                // height:40px;
            }
            & span{
                color:#48596B;
                font-size: 12px;
                width:40%;
                padding-bottom:3%;
                float:right;
            }
            & h6{
                color:#48596B;
                font-size: 12px;
                width:100%;
                font-weight: 400;
                margin-bottom: 1px;
                // float:left;
                // height:40px;
            }
            & p{
                color:#48596B;
                font-size: 12px;
                width:100%;
                margin-bottom: 8px;
                // float:left;
                // height:40px;
            }
        }
        &-blue{
            background-color: #0196FD;
            border-radius: 6px;
            box-shadow: 0px 0px 7px #0196FD0F;
            min-height:85px;
            padding:2%;
            width:100%;
            & label{
                color: #fff;
            }
            & .form-control{
                background-color: #0196FD;
                color: #fff;
                border:1px solid #fff;
            }
            & ::placeholder{
                color: #fff !important;
            }
        }
        &-features{
           & ul{
                display: block;
                padding:0;
                & li{
                    text-decoration: none;
                    width:14%;
                    padding:1%;
                    display: inline-block;
                }

            }
        }
        &-image{
            text-align: center;
            & img{
            padding:5%;
            width:100%;
             }
        }
        &-gradient1{
            background: transparent linear-gradient(116deg, #33D087 0%, #089D58 100%) 0% 0% no-repeat padding-box;
            color:$white;
            width:100%;
            height:120px;
            border-radius: 5px;
            padding:6%;
            padding-top:16%;
            &-left{
                float:left;
                width:40px;
                & img{
                    width: 80%;
                    margin-top:17%;
                }
            }
            &-right{
                float:right;
                width:calc(100% - 40px);
                & label{
                    font-size:14px;
                    color:$white;
                }
                & h5{
                    font-size:22px;
                    color:$white;
                    font-weight: 800;
                }
            }
        }
        &-gradient2{
            background: transparent linear-gradient(115deg, #37CBE4 0%, #0595AD 100%) 0% 0% no-repeat padding-box;
            color:$white;
            width:100%;
            height:120px;
            border-radius: 5px;
            padding:6%;
            padding-top:16%;
            &-left{
                float:left;
                width:40px;
                & img{
                    width: 80%;
                    margin-top:17%;
                }
            }
            &-right{
                float:right;
                width:calc(100% - 40px);
                & label{
                    font-size:14px;
                    color:$white;
                }
                & h5{
                    font-size:22px;
                    color:$white;
                    font-weight: 800;
                }
            }
        }
        &-gradient3{
            background: transparent linear-gradient(116deg, #FEB747 0%, #FF7831 100%) 0% 0% no-repeat padding-box;
            color:$white;
            width:100%;
            height:120px;
            border-radius: 5px;
            padding:6%;
            padding-top:16%;
            &-left{
                float:left;
                width:40px;
                & img{
                    width: 80%;
                    margin-top:17%;
                }
            }
            &-right{
                float:right;
                width:calc(100% - 40px);
                & label{
                    font-size:14px;
                    color:$white;
                }
                & h5{
                    font-size:22px;
                    color:$white;
                    font-weight: 800;
                }
            }
        }
    }
}
.customer{
    &-bg{
        background-image: url(../images/bg_customer.svg);
        // background-image: url(../images/login_main_bg.svg);
        width:100%;
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: center;
        // height: calc(100vh - (68px + 60px));
        height:60vh;
    }
    &-gift{
        background-image: url(../images/gift_v.svg);
        // background-image: url(../images/login_main_bg.svg);
        width:100%;
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: center;
        background-position: right 160px;
        // height: calc(100vh - (68px + 60px));
        // height:60vh;
    }
}
.promo{
    &-darkblue{
        padding:4%;
        & i{
            color:#9049D9;
            font-size:45px;
        }
        & h5{
            color:#9049D9;
            font-size: 25px;
        }
        & label{
            font-size: 35px;
            font-weight: bold;
        }
        background-color: #FCF8FF;
        border:1px solid #9049D9;
        border-radius: 5px;
        color:#9049D9;
        width:100%;
        min-height:80px;
    }
    &-darkgreen{
        padding:4%;
        & i{
            color:#39CA5F;
            font-size:45px;
        }
        & h5{
            color:#39CA5F;
            font-size: 25px;
        }
        & label{
            font-size: 35px;
            font-weight: bold;
        }
        background-color: #F8FFFA;
        border:1px solid #39CA5F;
        border-radius: 5px;
        color:#39CA5F;
        width:100%;
        min-height:80px;
    }
    &-darkred{
        padding:4%;
        & i{
            color:#F96A5B;
            font-size:45px;
        }
        & h5{
            color:#F96A5B;
            font-size: 25px;
        }
        & label{
            font-size: 35px;
            font-weight: bold;
        }
        background-color: #FFFBFA;
        border:1px solid #F96A5B;
        border-radius: 5px;
        color:#F96A5B;
        width:100%;
        min-height:80px;
    }
}

.footer {
    width: 100%;
    height: 20px;
    position: fixed;
    bottom: 0;
    background-color: #F4F6FA;
    padding-left: 3%;
    // padding-top: 0.19%;
    padding-right: 3%;
    z-index: 99;
    & label{
        color:$secondary-color;
        font-size:12px;
        display: block;
    }
}
.disable_ms{
    background-color: #d8d8d8;
    background: #d8d8d8;
}



@media only screen and (min-width:320px) and (max-width:700px) {
    .scaling{
        &-ptop{
            padding-top:5%;
        }
        &-mtop{
            margin-top: -2% !important;
        }
        &-mb{
            margin-bottom: 2% !important;
        }
        &-center{
            .text-right {
                text-align: center !important;
            }
            text-align: center !important;
        }

    }

    .maincontent {
        padding-top: 48%;
        padding-left: 3%;
        padding-right: 3%;
        margin-bottom: 6%;
    }
    .maincontent .rect-grey .apply_btn button {
        display: flex;
        border: 0px solid #ffffff;
        cursor: pointer;
        color: #ED1C24;
        position: relative;
        top: 30px;
        left: 234px;
        background-color: transparent;
        border: 0px solid #ffffff;
    }
    .maincontent .rect-grey {
        background-color: #FAFBFC;
        border: 1px solid #DCE3F2;
        border-radius: 5px;
        height: 80vh;
        overflow-y: auto;
        width: 100%;
        padding-left: 5% !important;
        padding-right: 5% !important;
        padding-bottom: 80px !important;
        padding-top: 5% !important;
    }
    .maincontent .rect-gradient2 {
        background: transparent linear-gradient(
        115deg, #37CBE4 0%, #0595AD 100%) 0% 0% no-repeat padding-box;
        color: #ffffff;
        width: 100%;
        height: 120px;
        border-radius: 5px;
        padding: 6%;
        padding-top: 9%;
    }
    .maincontent .rect-gradient1 {
        background: transparent linear-gradient(
        116deg, #33D087 0%, #089D58 100%) 0% 0% no-repeat padding-box;
        color: #ffffff;
        width: 100%;
        height: 120px;
        border-radius: 5px;
        padding: 6%;
        padding-top: 9%;
    }
    .maincontent .rect-gradient3 {
        background: transparent linear-gradient(
        116deg, #FEB747 0%, #FF7831 100%) 0% 0% no-repeat padding-box;
        color: #ffffff;
        width: 100%;
        height: 120px;
        border-radius: 5px;
        padding: 6%;
        padding-top: 9%;
    }
}
.cursor{
    cursor: pointer !important;
}
.newsale{
    
    &-body{
        width: 100%;
        height: auto;
        margin-top: -3px !important;
        
        &-left{
            float: left;
            width: 70%;
            // overflow-y: auto;
            // border-right: 1px solid $grey-ultralight;
            & .pay{
               width: 100%;
               & h5{
                font-weight: bold;
                color: #48596B;
                font-size: 18px;
               }
                    & ul{
                        text-decoration: none;
                        display: block;
                        margin:0;
                        padding:0;
                        & li{
                            display: inline-block;
                            text-decoration: none;
                            width: 13%;
                            margin: 0px;
                            padding: 0px;
                            text-align: center;
                            
                          & span{

                            width: 40px;
                            margin: 2px;
                            margin-bottom: 0px;
                            display: block;
                            height: 40px;
                            padding: 4px;
                            // padding: 16%;
                            border-radius: 50px;
                            border: 1px solid #DCE3F2;
                            background-color: #ffffff;
                            text-align: center;
                            display: grid;
                            cursor: pointer;
                            & img{
                                padding-top: 10px;
                            }
                            & i{
                            
                            }
                            & label{
                                font-size: 12px;
                                height: 15px;
                                color: #353C40;
                                display: block;
                                padding-top: 10px;
                                position: relative;
                                // top: 20px;
                                // left: -2px;
                                & .key{
                                    font-size: 10px;
                                    display: inline-block;
                                }
                            }
                            &:hover{
                                border:1px solid $primary-color !important;
                                // height:50px;
                                // border-radius: 50px;
                                // width:50px;
                                color: $primary-color !important;
                                & label{
                                    font-size: 12px;
                                    height:15px;
                                    color: $primary-color !important;
                                    // color: #353C40;
                                }
                            }
                          }
                        &.disable{
                            & span{
                                width:40px;
                                margin:15px;
                                margin-bottom: 0px;
                                height:40px;
                                padding:16%;
                                border-radius: 50px;
                                border:1px solid #d8d8d8;
                                background-color: #d8d8d8;
                                text-align: center;
                                cursor: default !important;
                                curs
                                & label{
                                    font-size: 12px;
                                    height:15px;
                                    color: #d8d8d8;
                                    position: relative;
                                    top: 20px;
                                    left: -2px;
                                }
                                &:hover{
                                    border:1px solid #d8d8d8 !important;
                                    // height:50px;
                                    // border-radius: 50px;
                                    // width:50px;
                                    color: #d8d8d8 !important;
                                    & label{
                                        font-size: 12px;
                                        height:15px;
                                        color: #d8d8d8 !important;
                                        // color: #353C40;
                                    }
                                }
                              }
                        }
                        
                       
                        }
                    }
                
            }
        }
        &-right{
            float:right;
            width:30%;
            background-color: #fdfdfd;
            // box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
            border-left: 1px solid $grey-lighter;
            border-right:1px solid $grey-lighter ;
            & .billing{
                background-color:#fdfdfd;
                // border:1px solid #DCE3F2;
                // border-radius: 5px;
                height: 80vh;
                overflow-y: auto;
                width:100%;
                padding-left: 5% !important;
                padding-right: 5% !important;
                padding-top: 4% !important;
                & label{
                    color:#353C40;
                    font-size: 14px;
                    width:100%;
                    display: block;
                    float:left;
                    // height:40px;
                }
    
                & .payment{
                    & label{
                        color:#ED1C24;
                        font-size: 14px;
                        width:100%;
                        display: block;
                        float:left;
                        // height:60px;
                        // border-bottom: 1px solid #DEDFE0;
                        border-top: 1px solid #DEDFE0;
                        padding-top: 5% !important;
                        margin-bottom:0%;
                    }
                }
                & span{
                    color:#353C40;
                    font-size: 12px;
                    width:40%;
                    height:40px;
                    float:right;
                }
                & h5{
                    color:#353C40;
                    font-weight:700;
                    font-size:14px;
                }
                & h6{
                    color:#353C40;
                    font-size: 12px;
                    width:100%;
                    font-weight: 400;
                    margin-bottom: 1px;
                    // float:left;
                    // height:40px;
                }
                & p{
                    color:#48596B;
                    font-size: 12px;
                    width:100%;
                    margin-bottom: 8px;
                    // float:left;
                    // height:40px;
                }
                & .apply_btn{
                    & button{
                        display: flex;
                        border: 0px solid #ffffff;
                        cursor: pointer;
                        color: #ED1C24;
                        position: relative;
                        top: 25px;
                        margin-top: -4px;
                        left: 287px;
                        font-size: 12px;
                        background-color: transparent;
                        border: 0px solid #ffffff;
    
                    }
                }
                & .list{
                    & ul{
                        text-decoration: none;
                        display: block;
                        margin:0;
                        padding:0;
                        & li{
                            display: inline-block;
                            width: 16.5%;
                            margin: 0px;
                            padding: 0px;
                            text-align: center;
                            
                          & span{
                            width: 45px;
                            margin: 2px;
                            margin-bottom: 0px;
                            height: 45px;
                            padding: 16%;
                            border-radius: 50px;
                            border: 1px solid #DCE3F2;
                            background-color: #ffffff;
                            text-align: center;
                            cursor: pointer;
                            & img{
                                width: 95%;
                            }
                            & label{
                                font-size: 12px;
                                height:15px;
                                color: #353C40;
                                position: relative;
                                top: 20px;
                                left: -2px;
                            }
                            &:hover{
                                border:1px solid $primary-color !important;
                                // height:50px;
                                // border-radius: 50px;
                                // width:50px;
                                color: $primary-color !important;
                                & label{
                                    font-size: 12px;
                                    height:15px;
                                    color: $primary-color !important;
                                    // color: #353C40;
                                }
                            }
                          }
                        &.disable{
                            & span{
                                width:50px;
                                margin:15px;
                                margin-bottom: 0px;
                                height:50px;
                                padding:16%;
                                border-radius: 50px;
                                border:1px solid #d8d8d8;
                                background-color: #d8d8d8;
                                text-align: center;
                                cursor: default !important;
                                curs
                                & label{
                                    font-size: 12px;
                                    height:15px;
                                    color: #d8d8d8;
                                    position: relative;
                                    top: 20px;
                                    left: -2px;
                                }
                                &:hover{
                                    border:1px solid #d8d8d8 !important;
                                    // height:50px;
                                    // border-radius: 50px;
                                    // width:50px;
                                    color: #d8d8d8 !important;
                                    & label{
                                        font-size: 12px;
                                        height:15px;
                                        color: #d8d8d8 !important;
                                        // color: #353C40;
                                    }
                                }
                              }
                        }
                        
                       
                        }
                    }
                }
            }
        }
    }
}

.plans{
    max-height: 600px;
    min-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;

    & .prices{
        border-radius: 10px !important;
        background-color: $white;
        // border: 1px solid #E5E5E5;
        height: 89vh;
        background-color: $white;
        -webkit-box-shadow: 0px 0px 17px 0px rgba(230,230,230,0.56);
        -moz-box-shadow: 0px 0px 17px 0px rgba(230,230,230,0.56);
        box-shadow: 0px 0px 17px 0px rgba(230,230,230,0.56);
        &-green{
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            background-color: #13C06A;
            height: 32px;
            padding-top: 5px;
            color: $secondary-color;
            text-align: center;
            font-weight: 600;
            font-size: 16px;
            letter-spacing: 2;
            &-g1{
                background-color: #F8FFFB;
                color: $secondary-color;
                // text-align: center;
                & h5{
                    font-weight: bold;
                    font-size: 40px;
                    margin-bottom: 0;
                    color: $secondary-color;
                }
                & h6{
                    font-weight: bold;
                    font-size: 18px;
                    color: $secondary-color;
                }
            }
        }
        &-red{
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            background-color: #FF4646;
            height: 32px;
            padding-top: 5px;
            color: $secondary-color;
            text-align: center;
            font-weight: 600;
            font-size: 16px;
            letter-spacing: 2;
            &-r1{
                background-color: #FFF9F9;
                color: $secondary-color;
                text-align: center;
                & h5{
                    font-weight: bold;
                    font-size: 40px;
                    color: $secondary-color;
                    margin-bottom: 0;
                }
                & h6{
                    font-weight: bold;
                    font-size: 18px;
                    color: $secondary-color;
                }
            }
        }
        &-yellow{
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            background-color: #F2D424;
            height: 32px;
            padding-top: 5px;
            color: $secondary-color;
            text-align: center;
            font-weight: 600;
            font-size: 16px;
            letter-spacing: 2;
            &-y1{
                background-color: #FDFFE8;
                color: $secondary-color;
                text-align: center;
                & h5{
                    font-weight: bold;
                    font-size: 40px;
                    color: $secondary-color;
                    margin-bottom: 0;
                }
                & h6{
                    font-weight: bold;
                    font-size: 18px;
                    color: $secondary-color;
                }
            }
        }
        border-radius:0px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        // background-color: #FCFCFC;
        // height: 80px;
        // padding-top: 10px;
        text-align: center;
        // & .plan_btn{
        //     background-color: $primary-color;
        //     border-radius: 5px !important;
        //     width: 200px;
        //     // height: 30px;
        //     text-align: center;
        //     cursor: pointer;
        //     color: $white !important;
        //     font-size: 14px !important;
        //     border: 0px solid #fff !important;


        // }

    &-sections{
        border-bottom: 1px solid #f1f1f1;
        padding: 15px;
        padding-top: 6px;
        padding-bottom: 6px;

        & h6{
            font-size: 15px;
            font-weight: 600;
            color: $secondary-color;
            text-align: left;
            margin-bottom: 5px;
            & img{
                position: relative;
                float: right;
            }
        }
        & label{
            color: #858585;
            font-size: 12px;
            display: block;
            text-align: left;
        } 
        &:last-child{
            border-bottom: 0px solid #fff !important;
        }
    }
}
}
.in{
    &-block{
        // width: 100%;
        display: inline-block !important;
        width: 33.3333% !important;
 
            li{
                // display: inline-block !important;
                width: 100% !important;
                text-decoration: none;
                list-style-type: none;
                padding-right:0.5% !important;
                position: relative;
              
                // margin-right: 3.5% !important;

            }
        }
}
