bpdy{
  overflow: hidden;
  overflow-x: hidden;
}

h1{
  color: red;
}
.login{
  background-image: url(../../assets/images/login_main_bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  // height:768px;
  &-left{
    & .easytxt{
    & span{
      color:$white;
      // font-weight:bold;
      font-family: bebaskai;
      font-size: 40px;
      padding-top:10px;
      position:relative;
      top:7px;
      b{
          display: block;
          color:$white;
          font-size: 18px;
          // font-family: ProductSans-Regular;
          font-weight: 400;
          position: absolute;
          top:92%;
          left:2%;
      }
    }
  
  }
    & .pic{
      padding-top: 3%;
      padding-left: 7%;
    }
    width:100%;
    // height:100vh;
    // padding:6%;
    & label{
      font-size: 2.3rem;
      color: #fff;
      text-align: left;
      width: 50%;
      margin-left: 11%;
      line-height: 1.2;
      font-weight: 300;
      margin-top: 8%;
      border-bottom: 1px solid #ff9397;
      padding-bottom: 2%;
    }
    & p{
      font-size: 2.5rem;
      color: #fff;
      text-align: left;
      width: 70%;
      margin-left: 11%;
      font-weight: 700;
      margin-top: 3%;
      line-height: 1.2;
    }

    &-bgbottom{
      // background-image:url(../../assets/images/login_bg_circle.svg);
      background-repeat: no-repeat;
      width:154px;
      height:129px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    & .retail{
      text-align: center;
      padding:4%;
      & img{
        margin-left:16%;
      }
    }
    &-radio{
      color:$white;
      margin-left:10%;
    }
  }
  &-right{
    // background-image: url(../../assets/images/login_circle_big.svg);
    background-repeat: no-repeat;
    width:100%;
    height: 100vh;

    &-form{
      width: 50%;
      height: 70%;
      position: relative;
      top: 14%;
      left: 20%;
      background-color: #fff;
      border-radius: 20px;
      border: 1px solid #EFEFEF;
      box-shadow: 0px 0px 33px #7DAAC938;
      padding:4%;
      padding-top:5%;
      & h5{
        font-size: 1.6rem;
        color: $secondary-color;
        text-align: left;
        width: 100%;
        // margin-left: 11%;
        font-weight: 700;
        // margin-top: 3%;
      }
     & input[type=text]{
        height:42px;
        border-radius: 5px;
        border:1px solid #E2E2E2;
      }
      & input[type=password]{
        height:42px;
        border-radius: 5px;
        border:1px solid #E2E2E2;
      }
     
      
  //    & input[type=text]:focus{
  //       transform: scaleX(1) translateY(-2px);
  //   opacity: 1;
  //   border-left:2px solid #11BBF3 !important;
  //   border-radius:0px !important;
  //   }
  //  & input[type="password"]:focus{
  //       transform: scaleX(1) translateY(-2px);
  //       opacity: 1;
  //       border-left:2px solid #11BBF3 !important;
  //       border-radius:0px !important;
  //   }
    }
    &-formreg {
      width: 70%;
      height: 90%;
      position: relative;
      top: 4.8%;
      left: 10%;
      background-color: #fff;
      border-radius: 20px;
      border: 1px solid #EFEFEF;
      box-shadow: 0px 0px 33px #7daac938;
      padding: 4%;
      padding-top: 3%;
      -webkit-animation: animate-loading 1s linear infinite;
      animation: animate-loading 1s linear infinite;
      & h5{
        font-size: 1.6rem;
        color: $secondary-color;
        text-align: left;
        width: 100%;
        // margin-left: 11%;
        font-weight: 700;
        // margin-top: 3%;
      }
     & input[type=text]{
        // height:42px;
        border-radius: 5px;
        border:1px solid #E2E2E2;
      }
      & input[type=password]{
        // height:42px;
        border-radius: 5px;
        border:1px solid #E2E2E2;
      }
      & input[type=password]{
        // height:42px;
        border-radius: 5px;
        border:1px solid #E2E2E2;
      }
  }
  }
  &-footer{
    width:100%;
    position: absolute;
    bottom: 0;
    & label{
      margin-left:5.5%; 
      font-size: 12px;
    }
  }

}
.text{
  &-center{
    text-align: center !important;
  }
}
.cursor{
  cursor: pointer !important;
}
.css-yk16xz-control{
  & input[type=text]{
    height:42px !important;
    border-radius: 3px !important;
    border:1px solid #E2E2E2 !important;
  }
}
.select_control .css-g1d714-ValueContainer {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  -webkit-flex: 1;
  -ms-flex: 1;
  height: 42px;
  flex: 1;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 2px 8px;
  -webkit-overflow-scrolling: touch;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}
.css-yk16xz-control {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  border-radius: 5px;
  align-items: center;
  background-color: $white;
  border-color:#E2E2E2 !important;
  border-radius: 3px !important;
  border-style: solid;
  border-width: 1px;
  cursor: default;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  min-height: 38px;
  outline: 0!important;
  position: relative;
  -webkit-transition: all 100ms;
  transition: all 100ms;
  box-sizing: border-box;
}
.css-b8ldur-Input{
    margin: -11px !important;
    /* padding-bottom: 2px; */
    /* padding-top: 2px; */
    border-radius: 5px;
    visibility: visible;
    color: $white !important;
    box-sizing: border-box;
    /* display: none; */
}
.domain{
  width:100%;
  // display: flex;
  margin-bottom: 20%;
  & h5{
    font-size: 22px;
    font-weight: 600;
    color: $primary-color;
    margin:0px auto;
    text-align: center;
    margin-bottom: 20px;
  }
  & ul{
    display: block;
    width:100%;
    text-decoration: none;
    padding-left: 0;
    margin:0px auto;
    & li{
        display: inline-block;
        margin:3%;
        cursor: pointer !important;
        text-decoration: none;
        text-align: center;
        color: #797884;
        // width:132px;
        // height:132px;
        // border-radius: 50rem;
        // background-color: #fff;
        // border:4px solid #F0F0F0;
        cursor: pointer;
        & a{
 
        & img{
    
          text-align: center;
          width:132px;
          height:132px;
          border-radius: 50rem;
          border:8px solid #F0F0F0;
          &:hover{
            border:8px solid $primary-color;
          }
        }

      }
      & i{
        font-size:3rem;
        position: relative;
        top: 20%;
      }
      & h6{
        cursor: pointer;
        font-size: 20px;
        position: relative;
        top:52%;
      }
      &:hover{
        // background-color: $primary-color;
        // border:4px solid $primary-color;
        // & i{
        //   color:#fff;
        // }
        & h6{
          color:$primary-color;

        }
      }
    }
  }
}

@media only screen and (min-width:1600px) and (max-width:1920px){
  .login-right-form {
    width: 50%;
    height: 45%;
    position: relative;
    top: 14%;
    left: 20%;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #EFEFEF;
    box-shadow: 0px 0px 33px #7daac938;
    padding: 4%;
    padding-top: 5%;
}
}

@media only screen and (min-width:800px) and (max-width:1280px) {
  .login-right-form {
    width: 70%;
    height: 420px;
    position: relative;
    top: 14%;
    left: 10%;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #EFEFEF;
    box-shadow: 0px 0px 33px #7daac938;
    padding: 4%;
    padding-top: 5%;
}
.login-footer label {
  margin-left: 5.5%;
  font-size: 12px;
  padding-bottom: 7%;
}
  
}
@media only screen and (device-width: 768px) {
  .login-left p {
    font-size: 2.5rem;
    color: #fff;
    text-align: left;
    width: 100%;
    margin-left: 11%;
    font-weight: 700;
    margin-top: 3%;
    line-height: 1.2;
}
.login-right-form {
  width: 69%;
  height: 40%;
  position: relative;
  top: 14%;
  left: 10%;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #EFEFEF;
  box-shadow: 0px 0px 33px #7daac938;
  padding: 4%;
  padding-top: 5%;
}
.login-left label {
  font-size: 2.3rem;
  color: #fff;
  text-align: left;
  width: 70%;
  margin-left: 11%;
  line-height: 1.2;
  font-weight: 300;
  margin-top: 8%;
  border-bottom: 1px solid #ff9397;
  padding-bottom: 2%;
}
.login-footer label {
  font-size: 1.3rem;
  color: #fff;
  text-align: left;
  width: 70%;
  margin-left: 7%;
  line-height: 1.2;
  font-weight: 300;
  margin-top: 0;
  border-bottom: 1px solid #ff9397;
  padding-bottom: 7%;
}
}
@media only screen and (min-width:320px) and (max-width:700px) {
  .login-left {
    &-radio {
      color: #ffffff;
      margin-left: 5%;
  }
    text-align: center;
      & .pic {
          padding-top: 3%;
          margin-left: -2%;
          padding-left: 0;
      }
    & br {
        display: none;
    }

& label {
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  width: 80%;
  margin-left: 6%;
  line-height: 1.2;
  font-weight: 300;
  margin-top: 3%;
  border-bottom: 1px solid #ff9397;
  padding-bottom: 2%;
}
& p {
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  width: 90%;
  margin-left: 6%;
  font-weight: 700;
  margin-top: 3%;
  line-height: 1.2;
}
}
.login-footer{
  
  bottom: -13%;

  & label {
    font-size: 1rem;
    color: #fff;
    text-align: center;
    width: 100%;
    margin-left: 0%;
    line-height: 1.2;
    font-weight: 300;
    margin-top: 0;
    border-bottom: 1px solid #ff9397;
    padding-bottom: 0%;
}
}
.login-right{
  &-form {
    width: 80%;
    height: 400px;
    position: relative;
    top: 4%;
    left: 10%;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #EFEFEF;
    box-shadow: 0px 0px 33px #7daac938;
    padding: 4%;
    padding-top: 5%;
  }

  & p{
    margin-top: 10%;
  }
}
}

