.modal{
    &-header{
        background-color: #F4F6FA;
        border-bottom: 1px solid #DCE3F2;
        border-top-left-radius: 6px !important;
        border-top-right-radius: 6px !important;
        padding-left:2%;
        height:60px;
        & h5{
            font-size:20px;
            color: $secondary-color;
            font-weight: 600;
            // margin-top:4px;
        }
    }
    & .headerGreen{
        background-color: #28D266 !important;
        border:0px solid $white;
        border-top-left-radius: 5px !important;
        border-top-right-radius: 5px !important;
        padding-left:2%;
        height:60px;
        & h5{
            font-size:20px;
            color: $white !important;
            font-weight: 600;
            margin-top:15px;
        }
    }
    &-title{
        padding-left:2%;
    }
    &-body{
        padding:4% !important;
    }
    & .fullModal{
        max-width:100% !important;
        overflow: hidden !important;
        margin: 0rem auto !important;
        background-image: url(../../assets/images/bg_domain.svg);
        height:100vh;
        & .modal-dialog {
            max-width: 100% !important;
            height:100vh !important;
            margin: 0rem auto !important;
        }
        & .modal-content {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            pointer-events: auto;
            background-color: transparent !important;
            background-clip: padding-box;
            border: 0px solid rgba(0,0,0,.2) !important;
            border-radius: .3rem;
            outline: 0;
            height: 100vh !important;
        }
        
    }
    &-footer{
        padding-right: 3.5% !important;
        padding-left: 3.5% !important;
    }
&-close{
    position: absolute;
    right: 2%;
    top: 1%;
    outline: none;
    & img{
        
    }
}
}

